@media (min-width: 48rem) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-logo {
    width: 180px; /* aún más grande en desktop */
    height: auto;
  }

  nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }

  #menu {
    display: none;
  }

  main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 2rem;
  }

  .courses {
    grid-column: 1 / -1;
    margin-top: 2rem;
  }

  footer {
    margin-top: 2rem;
    text-align: center;
    background: #eee;
    padding: 1rem;
  }
}
